<html>
    <head>
        <link rel="stylesheet" type="text/css" href="themes/sox/styles/styles.css">
    </head>
    <body>
        <header class="header">
            <h1 class="header_brand">Newsense</h1>
            <p class="header_info">Sox' personal news aggregator</p>
        </header>
        <div class="filter">
            <div class="filter_header">
                <h1 class="filter_title">Filter</h1>
                <div class="filter_control"></div>
            </div>
            __feeds__
        </div>
        <main>
            __items__
        </main>
        <footer>

        </footer>
    </body>
</html>
